<launch>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find mesh_bot_2dnav)/maps/willow-2010-02-18-0.10.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

  <!--- Run AMCL -->
  <include file="$(find mesh_bot_2dnav)/config/amcl_mesh_bot.launch" >
    <arg name="scan_topic" value="scan" />
  </include>
  
  <!-- Run move base-->
  <include file="$(find mesh_bot_2dnav)/config/mesh_bot_move_base.launch" />


</launch>
